<launch>
  <!-- ruikang/managed_vendor_bundle external workspace wrapper -->
  <arg name="namespace" default="" />
  <arg name="scan_topic" default="scan" />
  <arg name="odom_topic" default="odom" />
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <group ns="$(arg namespace)">
    <node pkg="move_base" type="move_base" name="move_base" output="screen" clear_params="true" required="true">
      <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
      <remap from="odom" to="$(arg odom_topic)" />
      <remap from="scan" to="$(arg scan_topic)" />
      <rosparam file="$(find nav_demo)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find nav_demo)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find nav_demo)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find nav_demo)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find nav_demo)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find nav_demo)/param/global_planner_params.yaml" command="load" />
      <rosparam file="$(find nav_demo)/param/dwa_local_planner_params.yaml" command="load" />
    </node>
  </group>
</launch>
