<launch>
  <arg name="namespace" default="" />
  <arg name="enable_synthetic" default="true" />
  <arg name="enable_vision" default="true" />
  <arg name="enable_mission" default="true" />
  <arg name="enable_recorder" default="true" />
  <arg name="enable_safety" default="true" />
  <arg name="output_root" default="" />
  <arg name="camera_topic" default="" />
  <arg name="detections_topic" default="" />
  <arg name="use_sim_time" default="false" />

  <include file="$(find ruikang_recon_baseline)/launch/core.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="enable_synthetic" value="$(arg enable_synthetic)" />
    <arg name="enable_vision" value="$(arg enable_vision)" />
    <arg name="enable_mission" value="$(arg enable_mission)" />
    <arg name="enable_recorder" value="$(arg enable_recorder)" />
    <arg name="enable_safety" value="$(arg enable_safety)" />
    <arg name="profile_synthetic_config" value="$(find ruikang_recon_baseline)/config/profiles/demo/synthetic.yaml" />
    <arg name="profile_platform_config" value="$(find ruikang_recon_baseline)/config/profiles/demo/platform.yaml" />
    <arg name="profile_vision_config" value="$(find ruikang_recon_baseline)/config/profiles/demo/vision.yaml" />
    <arg name="profile_mission_config" value="$(find ruikang_recon_baseline)/config/profiles/demo/mission.yaml" />
    <arg name="profile_recorder_config" value="$(find ruikang_recon_baseline)/config/profiles/demo/recorder.yaml" />
    <arg name="profile_safety_config" value="$(find ruikang_recon_baseline)/config/profiles/demo/safety.yaml" />
    <arg name="output_root" value="$(arg output_root)" />
    <arg name="camera_topic" value="$(arg camera_topic)" />
    <arg name="detections_topic" value="$(arg detections_topic)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
  </include>
</launch>
