<launch>
  <arg name="namespace" default="" />
  <arg name="vendor_command_topic" default="recon/platform/vendor/cmd_vel" />
  <arg name="feedback_topic" default="recon/platform/vendor/base_feedback_raw" />
  <arg name="telemetry_topic" default="recon/platform/vendor/chassis_telemetry" />
  <arg name="serial_port" default="/dev/carserial" />
  <arg name="baudrate" default="115200" />
  <arg name="protocol_mode" default="legacy_newt" />
  <arg name="legacy_feedback_policy" default="telemetry_required" />
  <group ns="$(arg namespace)">
    <node pkg="ruikang_recon_baseline" type="mowen_serial_bridge_node.py" name="mowen_serial_bridge_node" output="screen" required="true">
      <param name="vendor_command_topic" value="/$(arg namespace)/$(arg vendor_command_topic)" />
      <param name="feedback_topic" value="/$(arg namespace)/$(arg feedback_topic)" />
      <param name="telemetry_topic" value="/$(arg namespace)/$(arg telemetry_topic)" />
      <param name="serial_port" value="$(arg serial_port)" />
      <param name="baudrate" value="$(arg baudrate)" />
      <param name="protocol_mode" value="$(arg protocol_mode)" />
      <param name="legacy_feedback_policy" value="$(arg legacy_feedback_policy)" />
    </node>
  </group>
</launch>
